

#########################
# Environment Variables #
#########################
# Libraries
export NODE_PATH="{{ .chezmoi.homedir }}/Development/projects/syntech-tetra/org.syntech.es.ui/web"
export JAVA_HOME=$(/usr/libexec/java_home)
export PATH={{ .chezmoi.homedir }}/bin:/usr/local/bin:{{ .chezmoi.homedir }}/.cargo/bin:$PATH:$JAVA_HOME;
export PATH=${JAVA_HOME}/bin:$PATH
export ANDROID_HOME=~/Library/Android/sdk/
export PATH=$ANDROID_HOME/platform-tools:$PATH
export PATH=$ANDROID_HOME/tools:$PATH
export NODE_PATH=$NODE_PATH:/usr/local/lib/node_modules
export PATH="{{ .chezmoi.homedir }}/perl5/bin${PATH:+:${PATH}}"
export PERL5LIB="{{ .chezmoi.homedir }}/perl5/lib/perl5${PERL5LIB:+:${PERL5LIB}}"
export PERL_LOCAL_LIB_ROOT="{{ .chezmoi.homedir }}/perl5${PERL_LOCAL_LIB_ROOT:+:${PERL_LOCAL_LIB_ROOT}}"
export PERL_MB_OPT="--install_base \"{{ .chezmoi.homedir }}/perl5\""
export PERL_MM_OPT="INSTALL_BASE={{ .chezmoi.homedir }}/perl5"
export PATH="$PATH:{{ .chezmoi.homedir }}/.local/bin"

# Add custom scripts to path
export PATH={{ .chezmoi.homedir }}/Development/scripts:$PATH

# EDITOR
export EDITOR="code"
######################
# antigen settings #
######################
source $(brew --prefix)/share/antigen/antigen.zsh
antigen init ~/.antigenrc

######################
# oh-my-zsh settings #
######################
export ZSH={{ .chezmoi.homedir }}/.oh-my-zsh
export ZSH_HIGHLIGHT_HIGHLIGHTERS_DIR=$(brew --prefix)/share/zsh-syntax-highlighting/highlighters
# COMPLETION_WAITING_DOTS="true"
source $ZSH/oh-my-zsh.sh


#####################
# Installed scripts #
#####################

## z
. `brew --prefix`/etc/profile.d/z.sh

## nvm
export NVM_DIR="{{ .chezmoi.homedir }}/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion



##################
# Custom Aliases #
##################
alias c="clear"
alias cls="clear;ls -GFp"
alias mounteng="mount_smbfs smb://jjames@syntech.org/depts/Engineer ~/engineer"
alias python=/usr/local/bin/python3 

##################
#  FZF Settings  #
##################
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
_gen_fzf_default_opts() {
  local base03="234"
  local base02="235"
  local base01="240"
  local base00="241"
  local base0="244"
  local base1="245"
  local base2="254"
  local base3="230"
  local yellow="136"
  local orange="166"
  local red="160"
  local magenta="125"
  local violet="61"
  local blue="33"
  local cyan="37"
  local green="64"
  
  # Solarized Dark color scheme for fzf
  export FZF_DEFAULT_OPTS="
    --color fg:-1,bg:-1,hl:$blue,fg+:$base2,bg+:$base02,hl+:$blue
    --color info:$yellow,prompt:$yellow,pointer:$base3,marker:$base3,spinner:$yellow
  "
}
_gen_fzf_default_opts


# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi
# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
